fastapi==0.111.1
uvicorn==0.30.1
langchain==0.2.6
langchain-core==0.2.12
langchain-community==0.2.6
groq==0.3.1
googletrans==4.0.0rc1
requests==2.32.3
pandas==2.2.2
numpy==1.26.4
pydantic==2.7.4
python-dotenv==1.0.1
setuptools
wheel
